#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

#[include ./klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./klicky-variables.cfg]                #Requires
[include ./klicky-macros.cfg]                   #Required
#[include ./klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
[include ./klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
#[include ./klicky-quad-gantry-level.cfg]       #level 4 Z motors
[include ./klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors

[probe]
pin: ^PG10 ### Check your board pinout, this is an example pin ###
x_offset: -2
y_offset: 28.75
speed: 5 ### I have found it accurate on my setup running as fast as 10, at 16 the accuracy started to degrade ###
samples:1 ### Klicky is accurate enough for a single sample, the remaining lines are not needed if you run a single sample ###
#lift_speed: 50
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
